.imageContainer{
	margin-top: 2.2em;
	border: 2px solid #dadada;
	border-radius: 5px;
	margin: 1px;
	margin-top: 10px;

	padding: 5px;
}


.myImageItem{
	display: none;
}

.glyphicon{
	font-size: xx-large!important;
}

.onePhotoContainer{
	padding: 0px;
}

.glyphicon {
    font-size: inherit;
}

.right{
	float: right;
}

.nextRow{
	margin-top: 15px;
}

.buttonDown{
	margin-top: 40px;
}

.buttonRight{
	margin-right: 10px;
}




h3{
	margin-top: 15px;
}

hr{
	border: 2px dotted red;
}

.buttonAddToBracket{
	margin-top: 15px;
	background-color:red;
	border:none;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 0px;
/*	font-size: 16px;
*/}

.buttonAddToBracket:hover{
	background-color: white;
	color: #383838;
	border: 1px solid black;
}