.form-control{
	width: 60px;
}

.imageTd{
	max-width: 100px;
}

img{
	height: 80px;
}

.glyphicon{
	color:black;
}

a:hover{
	color: red;
}

.paidContainer{
	text-align: right;
}

.buttonMakeAnOrder{
	margin-top: 15px;
	background-color:red;
	border:none;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 0px;
	font-weight: bold;
	border: 1px solid red;
	margin-bottom: 10px;
}

.buttonMakeAnOrder:hover{
	background-color: white;
	color: #383838;
	border: 1px solid black;
}