.divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#centerd-navbar{
	padding-left: 10%;
} 

.singleAdvertisementContainer{
	border: 3px solid #0c760b;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;

	padding: 10px
}

.singleAdvertisementContainer h3{
	margin-top: 0px;
}

.myImageDiv{
	/*background: url('../images/default.png');*/
    background-size: contain;
    /*background-repeat: no-repeat;*/
}

.buttonDown2{
	margin-top: 10px;
}







